<style lang="scss">
.wrapper {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.list {
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    &::before,
    &::after {
      display: none;
    }
  }
}

.title {
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}
</style>

<div class="wrapper">
  <h2 class="title">Sponsors</h2>
  <div class="list">
    <a href="https://www.netlify.com/?utm_campaign=devex-jl&utm_source=astro&utm_medium=blog"><img src="/assets/netlify.svg" width="147" height="40" alt="Netlify" /></a>
  </div>
</div>
